/* Styles go here */
.me-auto {
    margin-right: 0px;
}

.tab-content {
    margin : 10px;
    margin-right : 30px
}

/* .section_gasSetting {
    display: flex;
}
.section_gasSetting_title {
    padding: auto;
    margin-right: 0.5em;
} */
.section_gasSetting_radio {
    display: flex;
    flex-direction: column;
}
/* .parameter-section{
    display: flex; 
}
*/

.btn_start {
    height: 40px;
    margin-left: 20px;
    align-self: center;

}